.footer-content{
    padding:50px;
    font-family:Poppins;
    font-size:20px;
}

.footer-content {
    background-color:#21C7FF;
    background-size: cover;
    width:100%;
    color:white;
    height:300px;
}

.isi p{
   
    width: 513px;
    height: 118px;
    
}
.logo {
    float:left;
}

.list-footer1 ul{
    margin-right:100px;
    float:left;
    text-decoration:none;
    list-style:none;

}

