.footer-content{
    padding:120px;
}

.footer-content {
    background-color:#21C7FF;
    width:100%;
    color:white;
    height:409px;
}

.isi p{
   
    width: 513px;
    height: 118px;
    
}
.logo {
    float:left;
}
