.footer-content{
    padding:80px;
    font-family:Poppins;
    font-size:20px;
}

.footer-content {
    background-color:#21C7FF;
    width:100%;
    color:white;
    height:409px;
}

.isi p{
   
    width: 513px;
    height: 118px;
    
}
.logo {
    float:left;
}

.list-footer1 ul{
    margin:50px;
}
